<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BtAndroid">
        <activity android:name=".view.Chat"></activity>
        <activity android:name=".view.Add_Target" />
        <activity android:name=".view.User" />
        <activity android:name=".view.Achievement" />
        <activity android:name=".view.For_Got_Password" />
        <activity android:name=".view.Sing_Up" />
        <activity android:name=".view.Home" />
        <activity android:name=".view.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>